@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  font-family: futura-pt, sans-serif;
  margin: 0;
}

/* Header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
}

.header .logo {
  /* padding: 2em; */
  /*just to make the navigation line a bit leaner*/
  padding: 1.5em;
  z-index: 1;
}

.header .logo img {
  height: 4em;
}

.header .cart {
  padding: 2em;
}

.header .cart img {
  height: 2em;
}

.header .cart img:hover {
  transition: 1s;
  transform: scale(1.1);
}

/* Burger menu */

#menuToggle {
  display: block;
  padding: 2em;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: black;
  transition: color 0.2s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #000000;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu {
  position: absolute;
  width: 30vw;
  height: 120vh;
  margin: -100px 0 0 -50px;
  padding: 2em;
  padding-top: 125px;
  background: white;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

@media screen and (max-width: 800px) {
  .menu {
    position: absolute;
    width: 110vw;
    height: 120vh;
    margin: -100px 0 0 -50px;
    padding: 2em;
    padding-top: 125px;
    background: white;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}

.menu .menu-heading {
  font-size: 1em;
  padding-bottom: 1em;
}

.menu .menu-subing {
  font-size: 1em;
}

.menu .menu-subing li {
  padding: 1em;
  font-size: 1em;
}

.menu .menu-subing li:hover {
  transition: transform 200ms ease-in;
  transform: translateY(-2px);
  cursor: pointer;
  color: #a383f7;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

/* Collapsible menu point  */

input[type="checkbox"] {
  display: none;
}
.wrap-collabsible {
  margin: 0.5rem 0;
}
.lbl-toggle {
  display: block;
  font-size: 1.2em;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.lbl-toggle::before {
  content: " ";
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}
.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content p {
  margin-bottom: 0;
}

/* Main */

.bestsellers-grid {
  display: grid;
  padding: 2em;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 2em;
}

.bestsellers-grid-item {
  border: 1px solid black;
  border-radius: 2em;
  padding: 2em;
}

.bestsellers-grid img {
  width: 100%;
  height: auto;
  padding: 2em;
}

.bestsellers-product-price {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.bestsellers-product-name {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.buy-now-but {
  display: flex;
  background-color: #000000;
  border-radius: 1em;
  color: white;
  padding: 1em;
  text-decoration: none;
  justify-content: center;
}

.buy-now-but:hover {
  background-color: #a383f7;
}

.about-grid {
  display: grid;
  grid-gap: 2em;
  padding: 2em;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  color: white;
  background-color: black;
}

.about-grid img {
  width: 100%;
  height: auto;
}

.about-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.about-grid-item h1 {
  padding-bottom: 1em;
  text-align: left;
}

.frontpage-about-text {
  font-size: 90%;
  line-height: 1.45em;
}

.trustpilot-grid {
  display: grid;
  justify-items: center;
  grid-gap: 2em;
  padding: 2em;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.trustpilot-grid-item {
  /* height: 10em; */
  height: 8em;
  text-align: center;
}

.trustpilot-grid-item p {
  line-height: 1.5em;
}

/*INSTAGRAM*/
.instagram-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em;
  grid-gap: 2em;
}

.instagram-grid-item-last {
  grid-column: 3/5;
  grid-row: 1/3;
  /*Monika: added align self because the image doesnt fit with the others perfectly but still looks a bit weird so we can also not do this*/
  /* align-self: center; */
}

.instagram-grid img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 800px) {
  .instagram-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
    grid-gap: 2em;
  }

  .instagram-grid-item-last {
    grid-column: 1/3;
  }
}

main h1 {
  font-size: 2em;
  padding-top: 1em;
  text-align: center;
  font-weight: 600;
}

#footer_container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border-top: 0.2px solid #a383f7;
  font-size: 85%;
}

.footer-column {
  padding: 0.6rem 2rem;
  line-height: 1.45rem;
}

.footer-column a {
  text-decoration: none;
  color: black;
}

.footer-column-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*footer hover states*/
.footer-list-link:hover {
  font-weight: bold;
  text-decoration-line: underline;
}
/*footer active states*/
.footer-list-link:active {
  color: #a383f7;
}

/* Carousel-slide */

.fullsize-carrusel {
  width: 100%;
  position: relative;
  margin: auto;
  padding-top: 10em;
}

.fullsize-carrusel img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  color: black;
}

.text {
  color: black;
  font-size: 15px;
  padding-bottom: 12em;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Product List Page */

.product-list {
  padding-top: 8em;
}

.product-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-gap: 2em;
  padding: 2em;
  justify-items: center;
}

.product-list-grid-item {
  border: 1px solid black;
}

.product-list-grid img {
  width: 100%;
  height: auto;
  padding: 2em;
}

.product-list-price {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

.product-list-name {
  display: flex;
  flex-direction: row;
  padding: 1em;
}

/* Product Page */

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 10em;
  justify-items: center;
}

.product-information {
  padding-top: 12em;
}

.product-grid img {
  border: 1px solid black;
  width: 500px;
  height: auto;
  padding: 2em;
}

.product-price {
  border: 1px solid black;
  padding: 2em;
}

.product-name {
  border: 1px solid black;
  padding: 2em;
}
